<h1> About Me </h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
  </div>
  
  <div class="col-md-8">
    <p>I have such a limit in my brain development which I wish to not have. 
    Waking up each day and hoping to further develop my brain in all activities that interests me such as sports, programming, software development, languages and education</p>

    <p>For this reason I decided to build this website in order to outreach those in the same state as me,
    in order to overcome barriers as well as the impossible.
    Hopefully with better communication and understanding from others [who gets you] it will help you label the impossible, the possible.</p>
  </div>
</div>

