<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">To achieve the impossible, you must not label it as impossible - Cherifa B.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


